@use "sass:color";

// Variables
$primary-color: #ff4c4c;
$white: #ffffff;
$font-main: 'Raleway', sans-serif;
$font-title: 'Monoton', cursive;
$overlay: rgba(0, 0, 0, 0.6);
$transition: 0.5s all;

.auth-container {
  min-height: 100vh;
  background: url('../../../assets/images/banner.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;

  h1 {
    font-family: $font-title;
    font-size: 45px;
    color: $white;
    padding: 20px 0;
    text-align: center;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.44);

    @media (max-width: 414px) {
      font-size: 30px;
    }

    @media (max-width: 576px) {
      font-size: 35px;
      padding: 5px 0;
    }
  }

  .content-w3ls {
    width: 40%;
    background: $overlay;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 4px;

    @media (max-width: 1024px) { width: 70%; }
    @media (max-width: 414px) { width: 85%; }

    form {
      .form-control {
        margin-bottom: 25px;

        input {
          width: 95%;
          padding: 12px;
          background: transparent;
          border: 1px solid rgba($white, 0.3);
          color: $white;
          font-family: $font-main;
          outline: none;
          transition: $transition;
          border-radius: 8px;

          &:focus {
            border-color: $primary-color;
            &::placeholder {
              color: rgba($primary-color, 0.8);
            }
          }

          &::placeholder {
            color: rgba($white, 0.8);
          }
        }
      }

      .auth-btn {
        width: 100%;
        padding: 12px;
        background: $primary-color;
        color: $white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        transition: $transition;
        border-radius: 8px;

        &:hover {
          background: color.adjust($primary-color, $lightness: -10%);
        }
      }
    }

    .social-text {
      color: $white;
      text-align: center;
      margin: 30px 0 20px;
      font-size: 15px;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      gap: 15px;

      li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;
        transition: $transition;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
          transform: rotateY(360deg);
        }
      }
    }

    .text {
      color: $white;
      font-size: 15px;
        &:hover {
          color: rgb(0, 136, 255);
        }
    }
  }
}

.auth-admin {
  background: url('../../../assets/images/OIP.png') no-repeat center center fixed #ddd;
}