.layout-client {
    color: #fff;
    background-color: #170F23; // Màu nền chủ đạo của app
    min-height: 100vh;
}

.header-client {
    display: flex;
    align-items: center;
    background: #170F23;
    position: sticky;

    &__logo {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        &__image {
            aspect-ratio: 1/1;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
            margin: 8px 8px 8px 0;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

    }

    &__logo--collapse {
        width: 80px !important;
        transition: all 0.3s;
    }

    &__nav {
        flex: 1;
        padding: 10px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-left {
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    &__nav-right {
        display: inline-flex;
        align-items: center;
        font-size: 20px;

        &__auth {
            .user-info {
                border-radius: 50%;
                margin-right: 10px;
                width: 32px;
                height: 32px;
                cursor: pointer;
            }
        }

        // &__avatar{
        //     width: 30px;
        //     aspect-ratio: 1/1;
        //     margin: 0 20px;

        //     img {
        //         height: 100%;
        //         width: 100%;
        //         object-fit: cover;
        //         border-radius: 50%;
        //     }
        // }

    }

    &__collapse {
        margin-right: 20px;
        cursor: pointer;
    }
}

.content-client {
    padding: 40px;
    background-color: #231B2E;
    margin: 0 auto;
    color: #fff;
    overflow-y: auto;
}

input::placeholder {
    color: #fff !important;
}

.ant-menu-dark {

    // Khi item được chọn
    &.ant-menu-inline .ant-menu-item-selected,
    &.ant-menu-vertical .ant-menu-item-selected {
        background-color: #393243 !important; // Màu hồng Muzia
        color: #fff !important;
        border-radius: 8px;
        width: calc(100% - 16px);
        margin-left: 8px;
    }
}

.music-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(23, 15, 35, 0.95); // Màu tối trùng với app
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999; // Đảm bảo luôn nằm trên cùng
    color: #fff;

    .song-info {
        width: 30%;
        margin-right: 64px;

        .song-detail {
            margin-left: 12px;

            .song-name {
                font-size: 16px;
                margin: 0;
            }

            .artist-name {
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .player-controls {
        width: 40%;
        flex-direction: column;

        .control-buttons {
            color: #fff;
            font-size: 20px;

            .play-btn {
                font-size: 32px;
            }
        }

        .progress-bar-container {
            width: 100%;
            color: #fff;

            .ant-slider {
                flex: 1;
            }
        }
    }

    .extra-controls {
        width: 30%;
        color: #fff;

        .volume-slider {
            width: 100px;
        }
    }
}